<h1>Configuration</h1>
<form [formGroup]="mdxForm">
  <div>
    <label>Cube</label>
    <input type="text" formControlName="cube" required="required" />
  </div>
  <div>
    <label>Catalog</label>
    <input type="text" formControlName="catalog" required="required" />
  </div>
  <div>
    <label>URL</label>
    <input type="url" formControlName="url" required="required" />
  </div>
</form>

<h4>Chart</h4>
<form [formGroup]="chartForm" (ngSubmit)="loadChart()">
  <div>
    <label>Measures</label>
    <textarea formControlName="measures" required="required" rows="5"></textarea>
  </div>
  <div>
    <label>X-Axis Level Expression</label>
    <input type="text" formControlName="xAxis" required="required" />
  </div>
  <div>
    <label>Group By Level Expression</label>
    <input type="text" formControlName="groupBy" />
  </div>

  <button type="submit" [disabled]="!mdxForm.valid || !chartForm.valid">Load</button>
</form>

<h4>Dimension</h4>
<form [formGroup]="dimensionForm" (ngSubmit)="loadDimension()">
  <div>
    <label>Attributes</label>
    <textarea formControlName="attributes" required="required" rows="5"></textarea>
  </div>
  <div>
    <label>Measures</label>
    <textarea formControlName="measures" rows="5"></textarea>
  </div>

  <button type="submit" [disabled]="!mdxForm.valid || !dimensionForm.valid">Load</button>
</form>

<h4>Table Rows</h4>
<form [formGroup]="tableRowForm" (ngSubmit)="loadTableRows()">
  <div>
    <label>Measures</label>
    <textarea formControlName="measures" required="required" rows="5"></textarea>
  </div>
  <div>
    <label>Rows</label>
    <textarea formControlName="rows" required="required" rows="5"></textarea>
  </div>

  <button type="submit" [disabled]="!mdxForm.valid || !tableRowForm.valid">Load</button>
</form>
